.Results {
    float: left;
    margin: 10px;
    margin-right: 30px;
}

.h2 {    
    margin-top: 0px;
    margin-bottom: 3px;
    display: inline-block;
    margin-right: 10px;
}

.help {
    display: inline-block;
    border: 1px solid #ff611d;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    cursor: pointer;    
    color: #ff611d;
    transition: background-color 0.2s;
}

.help:hover {
    background: #ff611d;
    color: white;
}

.revealBtn {    
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-right: 10px;
}

.revealBtn:hover {
    color: white;
    background-color: #ff23ab;
    border: 1px solid #ff23ab;
}

.script {
    margin-top: 5px;
    margin-bottom: 5px;
}

.revealNotice {
    font-size: 0.85em;
    margin-bottom: 10px;
    margin-top: 5px;
}