.Selector {
    float: left;
    margin: 10px;
}

.h2 {
    margin-top: 0px;
    margin-bottom: 3px;
}

.label {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.list {
    list-style: none;
}

.inputId {
    margin-left: 10px;
    width: 100px;
}