.Selector {
    float: left;
    margin: 10px;
    margin-right: 30px;
}

.h2 {
    margin-top: 0px;
    margin-bottom: 3px;
}

.label {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.list {
    list-style: none;
}

.list:hover {
    color: #ff611d;
    cursor: pointer;
}

.input {
    margin-left: 10px;
    width: 132px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 3px;
}

.btn {
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-right: 1px;
    margin-top: 2px;
    padding: 3px;
}

.btn:hover,
.btnConfirm:hover {
    color: white;
    background-color: #ff611d;
    border: 1px solid #ff611d;
}

.btnConfirm {
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-right: 1px;
    margin-top: 2px;
    padding: 3px;

    width: 200px;
}



.label2 {
    display: inline-block;
    width: 50px;
}
.padding {
    margin-top: 10px;
}

.img {
    width: 200px;
    margin-top: 10px;
}