.btn {
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-right: 1px;
    margin-top: 2px;
    padding: 3px;
}

.btn:hover {
    color: white;
    background-color: #ff611d;
    border: 1px solid #ff611d;
}

.input {
    width: 150px;
    margin-top: 10px;
}